@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}


<div  class ="text-center">

    @*Tag helper permet de generer element html dynamic*@
    <a asp-page="/Candidats/new" class="w-20 vtn btn-primary m-2" >+ Add new </a>


    @if(Model.Candidats.Count() == 0)
    {
        <p>Pas de Candidat</p>
    }

    else
    {
        //bootstrap card compo
        <div class="row g-0">

            
        </div>
    }
</div>
